# ── Airflow ──────────────────────────────────────────────────
AIRFLOW_UID=50000

# Generate with:
# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__FERNET_KEY=

# Any random string
AIRFLOW__WEBSERVER__SECRET_KEY=

# ── GCP ──────────────────────────────────────────────────────
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-gcp-project-id-air-quality-raw
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/keys/gcp-service-account.json

# ── OpenAQ ───────────────────────────────────────────────────
OPENAQ_API_KEY=your-openaq-api-key
